.content {
  padding-top: 75px; /* Spazio per l'header */
  padding-bottom: 100px; /* Spazio per il footer */
  margin-top: 20px; /* Spazio aggiuntivo tra l'header e il contenuto */
}

.container {
  width: 100%;
  text-align: center;
}

.slider-container {
  position: relative;
  
  align-items: center;
  overflow: hidden; /* Aggiunto per nascondere le immagini fuori dal contenitore */
}

.slider {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.slider .slide {
  min-width: 100%; /* Assicura che ogni slide prenda il 100% della larghezza del contenitore */
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 300px; /* Limita la larghezza dell'immagine a 300px */
  height: 300px; /* Limita l'altezza dell'immagine a 300px */
  object-fit: contain;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.prev-button,
.next-button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #72d047;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.prev-button:hover,
.next-button:hover {
  background-color: #343a40;
}

.prev-button.active, .next-button.active {
  background-color: #343a40; /* Cambio del colore di sfondo */
  font-weight: bold;
}

.slide-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #db730b; /* Cambio del colore del testo */
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .slide-text {
      display: none;
  }
}

.left-text {
  left: calc(10% + 10px); 
}

.right-text {
  right: calc(10% + 10px);
}

.card {
    width: 100%;
    max-width: 400px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 16px;
    color: #6c757d;
}

.card-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text:last-child {
    margin-bottom: 0;
}

.bottoni {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td {
    padding-bottom: 100px; /* Aggiunge spazio sotto ogni cella */
}

td {
    padding-right: 100px; /* Aggiunge spazio tra le colonne */
}

.hidden {
    display: none;
}


